.footer{
    padding:0.76rem .50rem .42rem !important;
    height: 5.5rem !important;
    width: 100%;
    position: relative;

    .footer-left-pannel{
        vertical-align: top;
        display: inline-block;
        width: 2.76rem;

        .footer-icon{
            font-size: .42rem,
        }

        .copy-right{
            color: #000;
            font-size: .16rem;
            line-height: .30rem;
            margin-top: .86rem;
            height: .44rem;
        }
    
        .footer-hr1{
            width: 2.76rem;
            height: .04rem;
            position: absolute;
            left: .44rem;
            bottom: 1.21rem;
            background: #000;
            box-sizing: border-box;
        }
    
        .footer-cooperation{
            position: absolute;
            left: .42rem;
            bottom: .52rem;
            font-size: .18rem;
            font-weight: bold;
        }
    }
}