.footer{
    display: flex;
    padding:0.76rem .50rem 0 !important;
    width: 100%;
    box-sizing: border-box;

    .footer-left-pannel{
        width: 26.75%;
        vertical-align: top;

        .footer-icon-l {
            font-size: .42rem,
        }

        .copy-right{
            color: #000;
            font-size: .16rem;
            line-height: .30rem;
            margin-top: .86rem;
        }
    
        .footer-cooperation{
            position: relative;
            margin-top: 1.7rem;
            font-size: .18rem;
            line-height: 1.18rem;
            font-weight: bold;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 57%;
                border-top: .04rem solid #000;
            }
        }
    }

    .footer-right-pannel {
        width: 73.25%;
        vertical-align: top;
        .footer-icon-r {
            font-size: .46rem;
        }
        .footer-right-info {
            padding-top: .76rem;
            > div {
                float: left;
                padding-right: 11.1%;
                &:last-of-type {
                    padding: 0;
                }
                > p {
                    max-width: 3rem;
                    line-height: 0.3rem;
                    font-size: .16rem;
                    color: #000;
                    &:nth-child(1) {
                        font-weight: bold;
                    }
                }
            }
        }
        .footer-right-tab {
            margin-top: 1.76rem;
            border-top: 1px solid #000;
            > li {
                float: left;
                line-height: 1.18rem;
                padding-right: 6%;
                font-size: .16rem;
                &:last-of-type {
                    padding: 0;
                }
            }

        }
    }
}
@media screen and (min-width: 1300px) and (max-width: 1600px) {
    .footer-right-tab {
        >li {
            padding-right: 4.2% !important;
            &:last-of-type {
                padding: 0 !important;
            }
        }
    }
    .footer-right-info {
        > div {
            padding-right: 8% !important;
            &:last-of-type {
                padding: 0 !important;
            }
        }
    }
}