.home {
    .first-banner {
        height: 8.6rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../assets/images/home/banner_0.png');
    }
}